:root {
  --white: #ffffff;
  --black: #1e2022;
  --main-background: #939494;
  --light-background: #f7f7f7;
  --main-blue: #607b7d;
  --font-light: #838f9c;
  --success: #06d6a0;

  /* #006466 */

  --size-5: 0.3125rem;
  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-15: 0.9375rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
  --size-200: 12.5rem;
  --size-300: 18.75rem;
  --size-400: 25rem;
  --size-500: 31.25rem;

  --standard-shadow: 0px 0px 30px rgba(2, 2, 2);
}

*,
::after,
::before {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
  /* font-family: "Ubuntu", sans-serif; */
}

html {
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--white);
  font-family: "Barlow", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

.container {
  width: 100%;
  padding-left: var(--size-15);
  padding-right: var(--size-15);
  margin-left: auto;
  margin-right: auto;
}
.default-btn {
  margin: auto;
  width: var(--size-300);
  height: var(--size-50);
  background-color: var(--main-blue);
  border-radius: var(--size-40);
  color: white;
  margin-top: var(--size-100);
  box-shadow: 0px 10px 20px rgb(2 2 2 / 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.25s;
}

.default-btn:hover {
  transform: scale(1.05);
  border: 0.0625rem solid var(--main-blue);
  background-color: var(--white);
  color: var(--main-blue);
}

.default-btn a {
  font-size: var(--size-20);
  color: var(--white);
}
