@media screen and (max-width: 1440px) {
  .service-bubble-section {
    width: 90%;
  }

  .row-one,
  .row-two,
  .row-three,
  .row-four {
    width: 69%;
  }

  .footer-bottom {
    width: 70%;
  }

  .services-page-main {
    width: 75%;
  }

  .gallery-page-buttons {
    width: 90%;
  }

  .gallery-btn,
  .gallery-btn-1,
  .gallery-btn-2,
  .gallery-btn-3 {
    width: 17.1875rem;
  }

  .gallery-btn:hover,
  .gallery-btn-1:hover,
  .gallery-btn-2:hover,
  .gallery-btn-3:hover {
    transform: scale(1.2);
  }

  .our-work-main {
    width: 95%;
  }

  .main-gallery-page img {
    width: 17.1875rem;
    height: 17.1875rem;
  }

  .main-gallery-page img:hover {
    transform: scale(1.1);
  }

  .contact-us-page-main {
    width: 75%;
  }

  .behind-owner-color {
    right: -10%;
    top: -1132px;
  }

  .behind-owner-color-1 {
    left: 59%;
    top: -850px;
  }
}

@media screen and (max-width: 1024px) {
  .subbar-nav {
    width: 90%;
  }

  .header-btn {
    width: 10.625rem;
    font-size: 12px;
  }

  .main-page-pic-info h1 {
    line-height: 45px;
  }

  .bubble-img {
    width: var(--size-200);
    height: var(--size-200);
  }

  .service-bubble h2 {
    font-size: var(--size-15);
  }

  .learn-more-btn {
    width: 150px;
  }

  .area-with-icons {
    width: 90%;
  }

  .services-page-main {
    width: 80%;
  }

  .about-us-page-main {
    width: 75%;
  }

  .gallery-btn,
  .gallery-btn-1,
  .gallery-btn-2,
  .gallery-btn-3 {
    width: 13rem;
    font-size: 12px;
  }

  .main-gallery-page img {
    width: 12rem;
    height: 12rem;
  }

  .contact-us-page-main iframe {
    width: var(--size-400);
  }
}

@media screen and (max-width: 768px) {
  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: block;
    position: absolute;
    right: 0;
    top: 50px;
    background-image: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.7)
    );
    width: 100%;
    text-align: right;
    box-shadow: 0px 0px 20px rgba(52, 49, 75, 0.1);
  }

  [aria-expanded="true"] ~ ul li a {
    margin-right: 20pxx;
    color: #666;
  }
}
