@media screen and (max-width: 1440px) {
  .service-bubble-section {
    width: 90%;
  }

  .row-one,
  .row-two,
  .row-three,
  .row-four {
    width: 69%;
  }

  .footer-bottom {
    width: 70%;
  }

  .services-page-main {
    width: 75%;
  }

  .gallery-page-buttons {
    width: 90%;
  }

  .gallery-btn,
  .gallery-btn-1,
  .gallery-btn-2,
  .gallery-btn-3 {
    width: 17.1875rem;
  }

  .gallery-btn:hover,
  .gallery-btn-1:hover,
  .gallery-btn-2:hover,
  .gallery-btn-3:hover {
    transform: scale(1.2);
  }

  .our-work-main {
    width: 95%;
  }

  .main-gallery-page img {
    width: 17.1875rem;
    height: 17.1875rem;
  }

  .main-gallery-page img:hover {
    transform: scale(1.1);
  }

  .contact-us-page-main {
    width: 75%;
  }

  .behind-owner-color {
    right: -10%;
    top: -1132px;
  }

  .behind-owner-color-1 {
    left: 59%;
    top: -850px;
  }
}

@media screen and (max-width: 1024px) {
  .subbar-nav {
    width: 90%;
  }

  .header-btn {
    width: 10.625rem;
    font-size: 12px;
  }

  .main-page-pic-info h1 {
    line-height: 45px;
  }

  .bubble-img {
    width: var(--size-200);
    height: var(--size-200);
  }

  .service-bubble h2 {
    font-size: var(--size-15);
  }

  .learn-more-btn {
    width: 150px;
  }

  .area-with-icons {
    width: 90%;
  }

  .services-page-main {
    width: 80%;
  }

  .about-us-page-main {
    width: 75%;
  }

  .gallery-btn,
  .gallery-btn-1,
  .gallery-btn-2,
  .gallery-btn-3 {
    width: 13rem;
    font-size: 12px;
  }

  .main-gallery-page img {
    width: 11rem;
    height: 11rem;
  }

  .contact-us-page-main iframe {
    width: var(--size-400);
  }
}

@media screen and (max-width: 768px) {
  .mast-head {
    font-size: var(--size-14);
  }

  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: block;
    position: absolute;
    right: var(--size-20);
    top: var(--size-100);
    border-radius: var(--size-10);
    background-color: lightgray;
    width: 30%;
    text-align: right;
    box-shadow: 0px 0px 20px rgba(52, 49, 75, 0.1);
  }

  [aria-expanded="true"] ~ ul li a {
    margin-right: 20px;
    color: #666;
  }

  ul li {
    margin-top: var(--size-10);
  }

  .chevron-down {
    display: inline;
    margin-right: var(--size-10);
  }

  .chevron-down img {
    width: 4%;
  }

  .header-btn {
    float: right;
    margin-top: var(--size-30);
    margin-bottom: var(--size-30);
    margin-right: var(--size-20);
  }

  .main-button-section {
    margin-top: var(--size-50);
  }

  .main-page-pic-info h1 {
    font-size: var(--size-20);
  }

  .main-page-pic-info p {
    font-size: var(--size-14);
  }

  .quote-btn,
  .calc-btn {
    width: 15.625rem;
    font-size: var(--size-15);
  }

  .service-bubble-section {
    flex-wrap: wrap;
  }

  .main-page-owners {
    width: 90%;
  }

  .row-one,
  .row-two,
  .row-three,
  .row-four {
    width: 90%;
    font-size: var(--size-14);
  }

  .area-row-one,
  .area-row-two,
  .area-row-three,
  .area-row-four,
  .area-row-five {
    margin-left: 0;
  }

  .free-quote-info {
    margin-left: 10%;
  }

  #footerEmail {
    margin-top: var(--size-20);
  }

  #footerPhoneNumber {
    margin-top: var(--size-20);
  }

  #footerMessage {
    width: 80%;
    height: var(--size-100);
  }

  .footer-bottom {
    flex-direction: column;
  }

  .bottom-footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--size-20);
  }

  .footer-bottom img {
    width: 35vw;
  }

  .remodel-service img {
    width: 20rem;
  }

  .gallery-page-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery-btn,
  .gallery-btn-1,
  .gallery-btn-2,
  .gallery-btn-3 {
    width: 15rem;
  }

  .gallery-btn-2,
  .gallery-btn-3 {
    margin-top: var(--size-20);
  }

  .gallery-btn-1,
  .gallery-btn-3 {
    margin-left: var(--size-30);
  }

  #modal__img {
    width: 80%;
  }

  .gallery-default img {
    width: 24%;
  }

  .contact-us-page-main iframe {
    width: 15.625rem;
    height: var(--size-300);
  }
}
