@media screen and (max-width: 1440px) {
  .service-bubble-section {
    width: 90%;
  }

  .row-one,
  .row-two,
  .row-three,
  .row-four {
    width: 69%;
  }

  .footer-bottom {
    width: 70%;
  }

  .services-page-main {
    width: 75%;
  }

  .gallery-page-buttons {
    width: 90%;
  }

  .gallery-btn,
  .gallery-btn-1,
  .gallery-btn-2,
  .gallery-btn-3 {
    width: 17.1875rem;
  }

  .gallery-btn:hover,
  .gallery-btn-1:hover,
  .gallery-btn-2:hover,
  .gallery-btn-3:hover {
    transform: scale(1.2);
  }

  .our-work-main {
    width: 95%;
  }

  .main-gallery-page img {
    width: 17.1875rem;
    height: 17.1875rem;
  }

  .main-gallery-page img:hover {
    transform: scale(1.1);
  }

  .contact-us-page-main {
    width: 75%;
  }

  .behind-owner-color {
    right: -10%;
    top: -1132px;
  }

  .behind-owner-color-1 {
    left: 59%;
    top: -850px;
  }
}

@media screen and (max-width: 1024px) {
  .subbar-nav {
    width: 90%;
  }

  .header-btn {
    width: 10.625rem;
    font-size: 12px;
  }

  .main-page-pic-info h1 {
    line-height: 45px;
  }

  .bubble-img {
    width: var(--size-200);
    height: var(--size-200);
  }

  .service-bubble h2 {
    font-size: var(--size-15);
  }

  .learn-more-btn {
    width: 150px;
  }

  .area-with-icons {
    width: 90%;
  }

  .services-page-main {
    width: 80%;
  }

  .about-us-page-main {
    width: 75%;
  }

  .gallery-btn,
  .gallery-btn-1,
  .gallery-btn-2,
  .gallery-btn-3 {
    width: 13rem;
    font-size: 12px;
  }

  .main-gallery-page img {
    width: 11rem;
    height: 11rem;
  }

  .contact-us-page-main iframe {
    width: var(--size-400);
  }
}

@media screen and (max-width: 830px) {
  .service-bubble-section {
    flex-wrap: wrap;
  }

  .area-row-one,
  .area-row-two,
  .area-row-three,
  .area-row-four,
  .area-row-five {
    margin-left: 0;
  }

  .free-quote-info {
    margin-left: 10%;
  }

  #footerEmail {
    margin-top: var(--size-20);
  }

  #footerPhoneNumber {
    margin-top: var(--size-20);
  }

  #footerMessage {
    width: 80%;
    height: var(--size-100);
  }

  .footer-bottom {
    flex-direction: column;
  }

  .bottom-footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--size-20);
  }

  .footer-bottom img {
    width: 35vw;
  }

  .navbar-nav li a {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .mast-head {
    font-size: var(--size-14);
  }

  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: block;
    position: absolute;
    right: var(--size-20);
    top: var(--size-100);
    border-radius: var(--size-10);
    background-color: lightgray;
    width: 30%;
    text-align: right;
    box-shadow: 0px 0px 20px rgba(52, 49, 75, 0.1);
  }

  [aria-expanded="true"] ~ ul li a {
    margin-right: 20px;
    color: #666;
  }

  ul li {
    margin-top: var(--size-10);
  }

  .to-top-btn {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 90%;
    left: var(--size-20);
    width: var(--size-50);
    height: var(--size-50);
    border-radius: 50%;
    background-color: var(--main-blue);
    opacity: 70%;
    z-index: 1000;
  }

  .to-top-btn img {
    width: 90%;
  }

  .chevron-down {
    display: inline;
    margin-right: var(--size-10);
  }

  .chevron-down img {
    width: 4%;
  }

  .header-btn {
    float: right;
    margin-top: var(--size-30);
    margin-bottom: var(--size-30);
    margin-right: var(--size-20);
  }

  .main-button-section {
    margin-top: var(--size-50);
  }

  .main-page-pic-info h1 {
    font-size: var(--size-20);
  }

  .main-page-pic-info p {
    font-size: var(--size-14);
  }

  .quote-btn,
  .calc-btn {
    width: 15.625rem;
    font-size: var(--size-15);
  }

  .service-bubble-section {
    flex-wrap: wrap;
  }

  .main-page-owners {
    width: 90%;
  }

  .row-one,
  .row-two,
  .row-three,
  .row-four {
    width: 90%;
    font-size: var(--size-14);
  }

  .area-row-one,
  .area-row-two,
  .area-row-three,
  .area-row-four,
  .area-row-five {
    margin-left: 0;
  }

  .remodel-service img {
    width: 20rem;
  }

  .gallery-page-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery-btn,
  .gallery-btn-1,
  .gallery-btn-2,
  .gallery-btn-3 {
    width: 15rem;
  }

  .gallery-btn-2,
  .gallery-btn-3 {
    margin-top: var(--size-20);
  }

  .gallery-btn-1,
  .gallery-btn-3 {
    margin-left: var(--size-30);
  }

  #modal__img {
    width: 80%;
  }

  .gallery-default img {
    width: 24%;
  }

  .contact-us-page-main iframe {
    width: 15.625rem;
    height: var(--size-300);
  }
}

@media screen and (max-width: 430px) {
  .mast-head {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--size-150);
  }

  [aria-expanded="true"] ~ ul {
    width: 50%;
  }

  .owners-numbers {
    flex-direction: column;
    margin-left: 0;
  }

  .serving-main {
    margin-right: 0;
  }

  .owner-number-one,
  .owner-number-two {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: centers;
    width: var(--size-200);
    height: var(--size-30);
    background-color: var(--main-blue);
    border-radius: var(--size-15);
    box-shadow: 0px 6px 10px rgb(120 120 120);
  }

  .owner-number-one a,
  .owner-number-two a {
    color: var(--white);
  }

  .owner-number-two {
    margin-top: var(--size-20);
    margin-bottom: var(--size-20);
  }

  .navbar {
    top: var(--size-150);
  }

  .to-top-btn {
    top: 90%;
  }

  .main-page-pic-info {
    top: 94%;
    width: 90%;
    line-height: var(--size-18);
  }

  .main-page-pic-info h1 {
    margin-bottom: 0;
    line-height: var(--size-20);
  }

  .main-button-section {
    flex-direction: column;
  }

  .services-main {
    margin-top: var(--size-400);
  }

  .service-bubble-section {
    width: 70%;
  }

  .owner-left,
  .owner-right {
    flex-direction: column;
  }

  .owner-left-img-main {
    width: 350px;
    height: var(--size-400);
    margin-right: 0;
    box-shadow: 0px 10px 20px rgb(2 2 2);
  }

  .owner-right-img-main {
    width: 350px;
    height: var(--size-400);
    margin-left: 0;
    box-shadow: 0px 10px 20px rgb(2 2 2);
  }

  .owner-name {
    text-align: start;
  }

  .owner-left-inner-info,
  .owner-right-inner-info {
    width: 85%;
  }

  .owner-right-inner-info {
    text-align: left;
    align-items: flex-start;
  }

  .row-one,
  .row-two,
  .row-three,
  .row-four {
    flex-direction: column;
    align-items: flex-start;
  }

  .above-why-us-h2 {
    width: 80%;
    margin: auto;
    margin-top: var(--size-100);
  }

  .finishing-cost-img {
    display: none;
  }

  .service-area-info {
    width: 90%;
  }

  .area-with-icons {
    width: 70%;
    margin-left: -18%;
  }

  .area-wrapper {
    width: 0px;
    font-size: 9px;
  }

  .free-quote-footer {
    height: 600px;
  }

  .row-one-basement-ideas,
  .basement-option-row-two {
    flex-direction: column;
  }

  .gallery-btn-1,
  .gallery-btn-3 {
    margin-left: 0;
    margin-top: var(--size-20);
  }

  .main-gallery-page {
    flex-direction: column;
    align-items: center;
  }

  .main-gallery-page img {
    margin-top: var(--size-20);
  }

  .gallery-default {
    flex-wrap: wrap;
  }

  .gallery-default img {
    width: 80%;
    margin-bottom: var(--size-30);
  }

  #modal__img {
    background-size: 60%;
    width: 145%;
  }

  .contact-us-page-main {
    flex-direction: column;
    align-items: center;
  }

  .contact-us-page-main iframe {
    width: 21rem;
    margin-top: var(--size-100);
  }

  .request-quote-sticky {
    left: 30%;
  }

  .remodeling-row-one,
  .remodeling-row-two,
  .remodeling-row-three,
  .remodeling-row-four {
    flex-direction: column;
  }

  .theater-info-img img {
    width: 100%;
  }

  .kitchens-row-one,
  .kitchens-row-two {
    flex-direction: column;
  }

  .kitchen-row-one-info,
  .kitchen-row-two-info {
    width: 100%;
  }

  .kitchens-row-one img,
  .kitchens-row-two img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .bedroom-service img {
    display: none;
  }

  .beside-img-info {
    width: 100%;
  }

  .living-room-service img {
    width: 100%;
  }

  .cave-side-img-wrapper {
    flex-direction: column;
  }

  .cave-side-img-wrapper img {
    width: 100%;
  }

  .cave-side-info {
    width: 100%;
  }

  .stairs-beside-wrapper {
    flex-direction: column;
  }

  .stairs-beside-wrapper img {
    width: 100%;
  }

  .stairs-info-wrapper {
    width: 100%;
  }

  .behind-owner-color-1,
  .behind-owner-color {
    display: none;
  }

  .main-owners-info {
    margin-bottom: var(--size-500);
  }
}
